body {
  background-color: #eee;
}

.dropdown-toggle.nav-link {
  padding: 0 0.5rem;
}

div.dropdown-menu.show.dropdown-menu-right {
  margin-top: 0.5rem !important;
}

.top-left {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
