body {
  background-color: #eee;
}

a:hover.dropdown-item {
  color: white;
  background-color: #772953;
}

a:active.dropdown-item {
  color: white;
  background-color: #6610f2;
}

.dropdown-menu {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
