@import 'bootswatch/dist/flatly/bootstrap.min.css';

body {
  background-color: #eee;
}

.dropdown-toggle.nav-link {
  padding: 0 0.5rem;
}

.top-left {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
